<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite verbose="10"
       name="TestNG Suite Number 1"
       preserve-order="true"
       parallel="false"
       allow-return-values="true">

    <listeners>
        <listener class-name="io.vodqa.extreportng.listener.TNGReportListener" />
    </listeners>

    <test verbose="10" name="Tests" preserve-order="true">
        <classes>
            <class name="io.vodqa.extreportng.TestClass1" />
        </classes>
    </test>

</suite>